# **Data Science - IFB**

**TALES LIMA DE OLIVEIRA**

**_Lista 01 - 09/04/25_**

### *Caminho para os arquivos*

In [1]:
##### IMPORTAR DADOS DO DRIVE #####
from google.colab import drive
drive.mount('/content/drive')
path_ecom = '/content/drive/MyDrive/ColabNotebooks/Python/ifb_ds/ecommerce_purchases.csv'
path_conc = '/content/drive/MyDrive/ColabNotebooks/Python/ifb_ds/conceito_enade_2021.xlsx'

##### IMPORTAR DADOS DA PASTA LOCAL #####
# path_ecom = 'data/ecommerce_purchases.csv'
# path_conc = 'data/conceito_enade_2021.xlsx'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom.

In [38]:
import pandas as pd
df_ecom = pd.read_csv(path_ecom)

Verifique o "head" do DataFrame.

In [39]:
df_ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

Quantas linhas e colunas existem?

In [40]:
rows, columns = df_ecom.shape
print(rows, columns)

10000 14

Qual é o preço de compra médio?

In [41]:
average_price = df_ecom['Purchase Price'].mean()
print(f"${average_price:.2f}")

$50.35

Quais foram os preços de compra mais altos e mais baixos?

In [42]:
max_price = df_ecom['Purchase Price'].max()
min_price = df_ecom['Purchase Price'].min()

print(f"Max: ${max_price:.2f}")
print(f"Min: ${min_price:.2f}")

Max: $99.99
Min: $0.00

Quantas pessoas têm Inglês 'en' como sua língua de escolha no site?

In [43]:
num_english_users = (df_ecom['Language'] == 'en').sum()
print(num_english_users)

1098

Quantas pessoas têm o cargo de "Advogado" (lawyer)?

In [44]:
num_lawyers = df_ecom['Job'].str.contains(r'\blawyer\b', case=False, na=False).sum()
# num_lawyers = df_ecom['Job'].str.contains('Lawyer').sum()
print(num_lawyers)

30

Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM?

*(Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html))*

In [45]:
am_pm_counts = df_ecom['AM or PM'].value_counts()
print(am_pm_counts)

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

Quais são os 5 títulos de trabalho mais comuns?

In [46]:
top_5_job = df_ecom['Job'].value_counts().head(5)
print(top_5_job)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação?

In [47]:
price_for_lot_90wt = df_ecom[df_ecom['Lot'] == '90 WT']['Purchase Price'].iloc[0]
print(f"${price_for_lot_90wt:.2f}")

$75.10

Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853

In [48]:
email_for_card = df_ecom[df_ecom['Credit Card'] == 4926535242672853]['Email'].iloc[0]
print(email_for_card)

bondellen@williams-garza.com

Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito e fizeram uma compra acima de US $ 95?

In [49]:
num_american_express_above_95 = df_ecom[(df_ecom['CC Provider'] == 'American Express') & (df_ecom['Purchase Price'] > 95)].shape[0]
print(num_american_express_above_95)

39

Difícil: quantas pessoas tem um cartão de crédito que expira em 2025?

In [50]:
# df_ecom['CC Exp Date'] = df_ecom['CC Exp Date'].astype(str)

num_expiring_2025 = df_ecom[df_ecom['CC Exp Date'].str.endswith('25')].shape[0]
print(num_expiring_2025)

1033

Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...)

In [51]:
df_ecom['Email Domain'] = df_ecom['Email'].str.split('@').str[1]
top_5_email_providers = df_ecom['Email Domain'].value_counts().head(5)
print(top_5_email_providers)

Email Domain
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

## **Exercício - Conceito Enade**

1) Utilizando a base de dados conceito_enade_2021.xlsx, faça uma análise estatística e realize as plotagens que achar pertinente na exploração dos dados.

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df_conc = pd.read_excel(path_conc)
print(df_conc.head())

    Ano  Código da Área Área de Avaliação Grau Acadêmico  Código da IES  \
0  2021          2501.0    ARTES VISUAIS    Licenciatura            2.0
1  2021          2501.0    ARTES VISUAIS    Licenciatura            2.0
2  2021          2501.0    ARTES VISUAIS    Licenciatura            3.0
3  2021          2501.0    ARTES VISUAIS    Licenciatura            4.0
4  2021          2501.0    ARTES VISUAIS    Licenciatura            4.0

                       Nome da IES* Sigla da IES* Organização Acadêmica  \
0          UNIVERSIDADE DE BRASÍLIA           UNB          Universidade
1          UNIVERSIDADE DE BRASÍLIA           UNB          Universidade
2   UNIVERSIDADE FEDERAL DE SERGIPE           UFS          Universidade
3  UNIVERSIDADE FEDERAL DO AMAZONAS          UFAM          Universidade
4  UNIVERSIDADE FEDERAL DO AMAZONAS          UFAM          Universidade

  Categoria Administrativa  Código do Curso  ... Sigla da UF**   \
0          Pública Federal            151.0  ...             DF
1          Pública Federal          52159.0  ...             DF
2          Pública Federal          80419.0  ...             SE
3          Pública Federal          62512.0  ...             AM
4          Pública Federal         112126.0  ...             AM

   Nº de Concluintes Inscritos Nº  de Concluintes Participantes  \
0                         54.0                             41.0
1                         34.0                             28.0
2                         33.0                             33.0
3                         27.0                             23.0
4                         65.0                             59.0

  Nota Bruta - FG  Nota Padronizada - FG  Nota Bruta - CE  \
0          45.814                  3.771           61.907
1          40.496                  2.988           51.514
2          36.445                  2.392           51.121
3          43.569                  3.441           54.447
4          25.818                  0.828           33.503

   Nota Padronizada - CE  Conceito Enade (Contínuo)  Conceito Enade (Faixa)  \
0                  3.947                      3.903                       4
1                  2.640                      2.727                       3
2                  2.590                      2.541                       3
3                  3.009                      3.117                       4
4                  0.374                      0.488                       1

   Observação
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 23 columns]

In [54]:
print(df_conc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ano                               7999 non-null   object
 1   Código da Área                    7997 non-null   float64
 2   Área de Avaliação                 7997 non-null   object
 3   Grau Acadêmico                    7997 non-null   object
 4   Código da IES                     7997 non-null   float64
 5   Nome da IES*                      7997 non-null   object
 6   Sigla da IES*                     7502 non-null   object
 7   Organização Acadêmica             7997 non-null   object
 8   Categoria Administrativa          7997 non-null   object
 9   Código do Curso                   7997 non-null   float64
 10  Modalidade de Ensino              7997 non-null   object
 11  Código do Município**             7997 non-null   float64
 12  Município do Curso**              7997 non-null   object
 13  Sigla da UF**                     7997 non-null   object
 14  Nº de Concluintes Inscritos       7997 non-null   float64
 15  Nº  de Concluintes Participantes  7997 non-null   float64
 16  Nota Bruta - FG                   7512 non-null   float64
 17  Nota Padronizada - FG             7512 non-null   float64
 18  Nota Bruta - CE                   7512 non-null   float64
 19  Nota Padronizada - CE             7512 non-null   float64
 20  Conceito Enade (Contínuo)         7512 non-null   float64
 21  Conceito Enade (Faixa)            7853 non-null   object
 22  Observação                        144 non-null    object
dtypes: float64(11), object(12)
memory usage: 1.4+ MB
None

In [59]:
print(df_conc.describe())

       Código da Área  Código da IES  Código do Curso  Código do Município**  \
count     7997.000000    7997.000000     7.997000e+03           7.997000e+03
mean      2362.292360    2270.348631     5.905363e+05           3.395798e+06
std       1514.196746    4284.792302     7.860225e+05           9.724587e+05
min         26.000000       1.000000     6.000000e+00           1.100023e+06
25%       1402.000000     374.000000     5.008200e+04           2.903201e+06
50%       2001.000000     688.000000     1.129840e+05           3.506003e+06
75%       3501.000000    1847.000000     1.190631e+06           4.113700e+06
max       6409.000000   25352.000000     5.001487e+06           5.300108e+06

       Nº de Concluintes Inscritos  Nº  de Concluintes Participantes  \
count                  7997.000000                       7997.000000
mean                     61.256221                         44.403526
std                     461.263424                        362.012872
min                       1.000000                          0.000000
25%                      12.000000                          9.000000
50%                      24.000000                         19.000000
75%                      45.000000                         35.000000
max                   26771.000000                      23842.000000

       Nota Bruta - FG  Nota Padronizada - FG  Nota Bruta - CE  \
count      7512.000000            7512.000000      7512.000000
mean         34.670726               2.465362        41.306688
std           7.479675               0.935277         9.361346
min           3.750000               0.000000        11.400000
25%          29.421000               1.822000        34.887750
50%          34.190500               2.432000        40.822500
75%          39.651250               3.088000        47.166000
max          66.700000               5.000000        85.550000

       Nota Padronizada - CE  Conceito Enade (Contínuo)
count            7512.000000                7512.000000
mean                2.379196                   2.400736
std                 0.974633                   0.912079
min                 0.000000                   0.000000
25%                 1.678750                   1.751000
50%                 2.320000                   2.339000
75%                 3.029000                   3.007500
max                 5.000000                   5.000000

In [56]:
print(df_conc.isnull().sum())

Ano                                    1
Código da Área                         3
Área de Avaliação                      3
Grau Acadêmico                         3
Código da IES                          3
Nome da IES*                           3
Sigla da IES*                        498
Organização Acadêmica                  3
Categoria Administrativa               3
Código do Curso                        3
Modalidade de Ensino                   3
Código do Município**                  3
Município do Curso**                   3
Sigla da UF**                          3
Nº de Concluintes Inscritos            3
Nº  de Concluintes Participantes       3
Nota Bruta - FG                      488
Nota Padronizada - FG                488
Nota Bruta - CE                      488
Nota Padronizada - CE                488
Conceito Enade (Contínuo)            488
Conceito Enade (Faixa)               147
Observação                          7856
dtype: int64

2) Utilizando a base de dados conceito_enade_2021.xlsx, construa um modelo de clusterização e analise os resultados encontrados.